@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200&display=swap');




body {
    background-color:#c8c6a7;
    margin: 0;

    padding: 0;
    

    

 

}


#main{
    background-color: #6e7c7c;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin: 0;

    padding: 0;


}



@media screen and (max-width: 800px) {
    #main{

        display: flex;
        justify-content:center;
        flex-direction: column-reverse;
    
    
    }
  }


  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  
  a:active {
    text-decoration: none;
  }





input {
    
    background-color:#c8c6a7;
    background-color: #92967d;
    background-color:#6e7c7c;
    background-color: #435560;
    
}



h1 {
   
    
    margin: 0px;
    padding: 0px;
    text-align: center;

   

}

a {
   
    
    margin: 0px;
    padding: 0px;
    text-align: center;


   

}







.div1 a{
    
    margin-bottom:10px;
    color: #435560;
    font-family: 'Neuton', serif;
    
}

.div2  a{
    
    margin-bottom:10px;
    color: #6e7c7c;
    color: #435560;
    font-family: 'Neuton', serif;
}

.div3 a{
    
    margin-bottom:10px;
    color: #92967d;
    color: #c8c6a7;
    color: #435560;
    font-family: 'Neuton', serif;
}

.div4 a{
    
    
    margin-bottom:10px;
    color: #c8c6a7;
    color: #435560;
    font-family: 'Neuton', serif;
}

a:hover {
    text-decoration: none;
    color: #a8ebac;
  }